.navbar {
  background-color: #D3AAE7;
  color: white;
  padding: 15px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1020; 
  font-size: 1.1rem;
  position: sticky;
  top: 0;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.logo {
  font-size: 1.5rem;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
}

.nav-links li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.nav-link.active {
  color: #4e1876 !important;
  text-decoration: none;
}

.custom-login-btn {
  background-color: #6F42C1;
  border-color: #6a0dad;
  color: white;
  text-decoration: none;
  padding: 10px 50px;
  border-radius: 30px;
}

.custom-login-btn:hover {
  background-color: #4e1876; 
  border-color: #580c94;
  color:#c3adcd
}